{% extends 'base.html' %}
{% block title %}系统数据{% endblock %}
{% block content %}
   <div class="container">
   <div class=" col-lg-6 col-lg-offset-4">
       <h1 class="c">系统数据</h1>
   </div>

     <form action="{% url 'addsys' %}" method="post" class="form-group">
     {% csrf_token %}
     <table class="table">
         <tr>

             <td>日期：{{ sysform.date }}</td>
             <td>店铺：{{ sysform.id_shop }}</td>
             <td>金额：{{ sysform.amount }}</td>
             <td><button class="btn btn-primary" type="submit">添加</button></td>
         </tr>
     </table>
    </form>
   <table class="table">
       <tr>
         <td>店铺</td>
         <td>日期</td>
         <td>金额</td>
          <td>操作</td>
       </tr>
       {% for d in sys_data %}
           <tr>
              <td>{{ d.id_shop__sys_name }}</td>
              <td>{{ d.date| date:"Y-m-d " }}</td>
              <td>{{ d.amount }}</td>
              <td><button class="delete btn btn-warning" value="{{ d.id }}"  onclick="del_sys_data(value)" >删除</button></td>
           </tr>
       {% endfor %}
   </table>
   </div>
    <script>
      function del_sys_data(element)
			{
				if(confirm("确认删除"))
				{
					$.ajax(
					{
					    url: '/delsys/'+element+'/',

			            error: function()
					    {
					    },
					    dataType: 'json',
					    success: function(data)
					    {
                            if (data){
                                window.location.reload()
                            }
					    },
					    type: 'POST'
				    });
				}
			};
    </script>
{% endblock %}