{% extends "base.html" %}

{% load staticfiles %}
{% block title %}人员{% endblock %}

{% block content %}
  <script src="{% static 'easyui/jquery.easyui.min.js' %}" charset="UTF-8" ></script>
  <script src="{% static 'easyui/locale/easyui-lang-zh_CN.js' %}" charset="UTF-8"></script>
  <link rel="stylesheet" href="{% static 'easyui/themes/default/easyui.css' %}">
  <link rel="stylesheet" href="{% static 'easyui/themes/icon.css' %}">


  <div class="col-xs-10 col-xs-offset-1">
    <table id="user" class="easyui-datagrid" style="height: 340px;"
           data-options="
                         url:'{% url 'easy' %}',
                         rownumbers:true,
                         pageSize:5,
                         toolbar:'#bar',
                         pageList:[5,10,15,20],
                         method:'get',
                        "
    >
        <thead>
            <tr>
                <th field="name">姓名</th>
                <th field="title">职位</th>
                <th field="personal_cellphone">手机</th>
                <th field="company_cellphone">公司手机</th>
                <th field="address">通讯地址</th>
                <th field="email">邮箱</th>
                <th field="qq">QQ</th>
            </tr>
        </thead>

    </table>
            <div id="bar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新增</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
            </div>
  </div>
{% endblock %}