{% extends 'diff.html' %}

{% block center %}
    <table id="readshopinfo" title="区域管理人员" class="easyui-datagrid" style="height:600px;"
            url="{% url 'readshopinfo' %}"
            toolbar="#editbar" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="sname">店铺名称</th>
                <th field="sysname">系统名称</th>
                <th field="manager">销售经理</th>
                <th field="area">所属区域</th>
                <th field="shopAddress">通讯地址</th>
                <th field="malltype">卖场类型</th>
                <th field="brand">品牌</th>
                <th field="shoptype">店铺类型</th>
                <th field="state">店铺状态</th>
                <th field="openingDate">开业时间</th>
                <th field="contractBeginDate">合同签约开始时间</th>
                <th field="contractEndDate">合同签约结束时间</th>
            </tr>
        </thead>
    </table>
    <div id="editbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newNews()">新增用户</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editNews()">编辑用户</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyNews()">删除用户</a>
    </div>
    <div id="dlg" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:20px;border-bottom:1px solid #ccc">店铺详情</div>
            <div style="margin-bottom:10px">
                <input name="sname" class="easyui-textbox" required="true" label="系统名称:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_date" class="easyui-textbox" required="true" label="报表名称:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_detail_time" class="easyui-textbox" required="true" label="销售经理:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_content" class="easyui-textbox" required="true" label="所属区域" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_url" class="easyui-textbox" required="true" label="通讯地址:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_source" class="easyui-textbox" required="true" label="卖场类型" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_web" class="easyui-textbox" required="true"  label="品牌" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="news_logtime" class="easyui-textbox" required="true"  label="店铺类型:" style="width:100%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveNews()" style="width:90px ">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px" >取消</a>
    </div>
<script type="text/javascript">
    var url;
        //显示编辑框
        function newNews(){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','新增新闻');
        $('#fm').form('clear');
        url = '/start/';
        }
        //编辑新闻
        function editNews(){
        var row = $('#dg').datagrid('getSelected');
        console.log(row);
        if (row){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle','Edit News');
            $('#fm').form('load',row);
            //  ajax 编辑News 并且 通过ajax 保存到后端 SQL
            url = '/edit/'+row.news_id;
        }
        }
        // 保存新闻
        function saveNews(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if (result=="save"){
                   $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');
                }else
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the News data
                }
            }
        });
        }


        //删除新闻
        function destroyNews(){
        var row = $('#dg').datagrid('getSelected');
        console.log(row);
        if (row){
            $.messager.confirm('再次确认','你确定要删除这条新闻？',function(r){
                if (r){
                    $.ajax({
                        url: '/remove/',
                        type: 'POST',
                        data: {'id':row.news_id},
                        success: function(data) {
                            if (data=="REMOVE"){
                                $('#dg').datagrid('reload');
                            }
                        },
                        error: function(data) {alert("error")}
                    });
                }
            });
        }
        }
 $(document).ready(function () {
    $(".exceldate,.openningdate,.contractBeginDate,.contractEndDate").datetimepicker(
        {
            weekStart: 1,
            todayBtn: 'linked',
            autoclose: true,
            todayHighlight: true,
            startView: 'month',
            minView: 'month',
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            weekStart: 1,
        }
    )
})

    </script>
{% endblock %}