{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}档案管理{% endblock %}
{% block content %}

<script>
    function add_info() {
        sys_name = $.trim($("input[name=sys_name]").val());
        s_name = $.trim($("input[name=s_name]").val());
        area = $.trim($("select[name=area]").val());
        sale_manager = $.trim($("select[name=salemanager]").val());
        shoptype = $.trim($("select[name=shoptye]").val());
        shopstate = $.trim($("select[name=shopState]").val());
        malltype=$.trim($("input[name=mallType]").val());
        shopadd=$.trim($("input[name=shopAddress]").val());
        openningdate=$.trim($("input[name=openningdate]").val());
        contractBeDate=$.trim($("input[name=contractBeginDate]").val());
        contractEDate=$.trim($("input[name=contractEndDate]").val());
        var form_data = {
            sys_name: sys_name,
            s_name: s_name,
            area: area,
            shoptype: shoptype,
            sale_manager: sale_manager,
            shopadd:shopadd,
            malltype:malltype,
            shopstate:shopstate,
            openingdate:openningdate,
            contractBegindate:contractBeDate,
            contractEndDate: contractEDate,
            action: "shopinfo",
        };

        $.ajax(
                {
                   url:"{% url 'addinfo' %}",
                   type:"get",
                   data:form_data,
                   datatype:'json',
                    success:function (data) {
                        alert (data.sava_message);


                    }
                }
        );
    }
function add_manager() {
  manager_name=$.trim($("input[name=m_name]").val());
  manager_phone=$.trim($("input[name=personal_phone]").val());
  manager_c_phone=$.trim($("input[name=c_phone]").val());
  manager_email=$.trim($("input[name=s_email]").val());
  manager_qq=$.trim($("input[name=s_qq]").val());
  manager_title=$.trim($("input[name=s_title]").val());
  manager_address=$.trim($("input[name=s_address]").val());
  $.ajax(
          {
              url:"{% url 'addinfo' %}",
              type:"get",
              data:
              {
                  "action":"manager",
                  "manager_name":manager_name,
                  "manager_phone":manager_phone,
                  "manager_c_phone":manager_c_phone,
                  "manger_email":manager_email,
                  "manager_title":manager_title,
                  "manager_qq":manager_qq,
                  "manager_address":manager_address,

              },
              success:function (data) {
                  window.location.reload();
              }
          }
  )  ;
}
function add_area() {
    area_name=$.trim($("input[name=area_name]").val());
    area_manager=$.trim($("select[name=area_manager]").val());
    $.ajax(
            {
                url:"{% url 'addinfo' %}",
                type:"get",
                data:{"area_name":area_name,"action":"area","area_manager":area_manager},
                datatype:'json',
                success:function (data) {
                    window.location.reload()
                }
            }
    );
}
$(document).ready(function () {
    $(".exceldate,.openningdate,.contractBeginDate,.contractEndDate").datetimepicker(
        {
            weekStart: 1,
            todayBtn: 'linked',
            autoclose: true,
            todayHighlight: true,
            startView: 'month',
            minView: 'month',
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            weekStart: 1,
        }
    )
})
    </script>
<script src="{% static 'js/tableedit.js' %}"></script>

 <style>
.div1{
float: left;
height: 34px;
background: #a6e1ec;
width: 82px;
position:relative;
border-radius: 5px;
margin-right: 10px;
}
.div2{
text-align:center;
padding-top:5px;
font-size:15px;
font-weight:800
}
.inputstyle{
    width: 82px;
    height: 34px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter:alpha(opacity=50);
    -moz-opacity:0;
    opacity:0;
    left:0px;
    top: 0px;
}
.mi{
    vertical-align: middle !important;
}
 </style>
<div class="container text-center" >

    <div class="row ">
          <!--批量导入档案开始-->
         <div class="col-md-3 col-xs-3">
             <p class="text-center h2">批量导入档案</p>
             {% csrf_token %}
                <form action="{% url 'upinfo' %}" enctype="multipart/form-data" method="post" class="form-group " role="form">
                 <div class="form-group" >
                     <div class="input-group">
                         <span  class="input-group-addon">档案类型</span>
                         <select name="upinfo_type" class="form-control">
                             <option value="shopinfo">店铺信息</option>
                             <option value="areainfo">区域信息</option>
                             <option value="staff">人员信息</option>
                         </select>
                     </div><br>
                     <div class="input-group">
                        <span  class="input-group-addon btn-success">档案日期</span>

                         <input type="text" name="exceldate" readonly class="exceldate form-control"  placeholder="">
                     </div><br>
                     <div class="div1">
                        <div class="div2 ">浏览文件</div>
                        <input type="file" class="inputstyle" name="excelfile" >
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-info">上传文件</button>
                    </div>
                 </div>
            </form>
         </div>
         <!--批量导入档案结束-->

        <!--档案录入开始-->
        <div class="col-md-4 col-xs-4">


      <p class="text-center h2">
          档案录入
      </p>

              <!-- 添加人员 -->
       <button class="btn btn-success" data-toggle="modal" data-target="#mymodal-manager" type="button">添加人员</button>
     <div class="modal  " id="mymodal-manager" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">
                         <span aria-hidden="true">×</span>
                         <span class="sr-only">关闭</span>
                     </button>
                     <h4 class="modal-title text-center">请输入以下信息</h4>
                 </div>
                 <div class="modal-body ">
                       <div class="container">
                           <form class="form-group col-md-5"  id="manager_data">
                               <div class="input-group">
                                    <span class="input-group-addon">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
                                    <input type="text" class="form-control" name="m_name">
                               </div>
                               <br>
                               <div class="input-group">
                                    <span class="input-group-addon">私人手机</span>
                                    <input type="text" class="form-control" name="personal_phone">
                               </div>
                               <br>
                             <div class="input-group">
                                   <span class="input-group-addon">公司手机</span>
                                   <input type="text" class="form-control" name="c_phone">
                               </div>
                               <br>
                               <div class="input-group">
                                   <span class="input-group-addon">电子邮箱</span>
                                   <input type="text" class="form-control" name="s_email">
                               </div>
                               <br>
                               <div class="input-group">
                                   <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;QQ&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                   <input type="text" class="form-control" name="s_qq">
                               </div>
                               <br>
                                 <div class="input-group">
                                   <span class="input-group-addon">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务</span>
                                   <input type="text" class="form-control" name="s_title">
                               </div>
                               <br>
                                 <div class="input-group">
                                   <span class="input-group-addon">通讯地址</span>
                                   <input type="text" class="form-control" name="s_address">
                               </div>
                               <br>
                          </form>
                       </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                     <button type="submit" class="btn btn-primary" id="save_button" onclick="add_manager()"  name="manager">提交 </button>
                 </div>

             </div>
         </div>
    </div>
      <!-- 添加人员窗口 -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" data-toggle="modal" data-target="#mymodal-area" type="button">添加区域</button>
       <!-- 添加区域 -->
    <div class="modal  " id="mymodal-area" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">
                         <span aria-hidden="true">×</span>
                         <span class="sr-only">关闭</span>
                     </button>
                     <h4 class="modal-title text-center">请输入以下信息</h4>
                 </div>

                 <div class="modal-body ">
                       <div class="container">
                           <form class="form-group col-md-5" method="get"  id="area_data">

                               <div class="input-group">
                                    <span class="input-group-addon">区域名称</span>
                                    <input type="text" class="form-control" name="area_name">
                               </div>
                               <br>
                             <div class="input-group">
                                   <span class="input-group-addon">区域负责人</span>
                                   <select class="form-control" name="area_manager">
                                       <option value="" selected>------</option>
                                       {% for man in man_list %}
                                         <option id="{{ man.id }}" value="{{ man.id }}">{{ man.name }}</option>
                                       {% endfor %}
                                   </select>
                               </div>
                               <br>
                          </form>
                       </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                     <button type="submit" class="btn btn-primary" id="save_button" onclick="add_area()"  name="area">提交 </button>
                 </div>

             </div>
         </div>
    </div>
      <!-- 添加区域窗口 -->
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <!-- 弹出添加店铺窗口 -->
    <button class="btn btn-success" data-toggle="modal" data-target="#mymodal-data" type="button">添加店铺</button>
    <!-- 店铺添加弹窗内容 -->
    <div class="modal  " id="mymodal-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">
                         <span aria-hidden="true">×</span>
                         <span class="sr-only">Close</span>
                     </button>
                     <h4 class="modal-title text-center">请输入以下信息</h4>
                 </div>

                 <div class="modal-body ">
                       <div class="container">
                           <form class="form-group col-md-5" method="get"  id="form_data">
                               <div class="input-group">
                                    <span class="input-group-addon">系统名称</span>
                                    <input type="text" class="form-control" name="sys_name">
                               </div>
                               <br>
                               <div class="input-group">
                                    <span class="input-group-addon">店铺名称</span>
                                    <input type="text" class="form-control" name="s_name">
                               </div>
                               <br>

                               <div class="input-group">
                                   <span class="input-group-addon">所属大区</span>
                                   <select class="form-control" name="area">
                                      <option value="" selected>------</option>
                                      {% for area in area_list %}
                                          <option name="{{ area.id }}" value="{{ area.id }}">{{ area.name }}</option>
                                       {% endfor %}
                               </select>
                               </div>
                               <br>

                             <div class="input-group">
                                   <span class="input-group-addon">销售经理</span>
                                   <select class="form-control" name="salemanager">
                                       <option value="" selected>------</option>
                                       {% for man in man_list %}
                                         <option id="{{ man.id }}" value="{{ man.id }}">{{ man.name }}</option>
                                       {% endfor %}
                                   </select>
                               </div>
                               <br>

                           <div class="input-group">
                                  <span class="input-group-addon">经营状态</span>
                                   <select class="form-control selected" name="shopState">
                                       <option value="" selected>------</option>
                                       <option value="S">正常营业</option>
                                       <option VALUE="Z">装修</option>
                                       <option value="C">撤店</option>
                                       <option value="P">暂停整改</option>
                                 </select>
                              </div>
                               <br>

                              <div class="input-group">
                                  <span class="input-group-addon">经营方式</span>
                                   <select class="form-control" name="shoptye">
                                       <option value="" selected>------</option>
                                       <option value="D">直营</option>
                                       <option VALUE="A">代理</option>
                                       <option value="J">加盟</option>
                                       <option value="C">承包</option>
                                 </select>
                              </div>
                               <br>

                           <div class="input-group">
                                  <span class="input-group-addon">店铺地址</span>
                                <input type="text" class="form-control" name="shopAddress">
                              </div>
                               <br>

                            <div class="input-group">
                                  <span class="input-group-addon">卖场类型</span>
                                  <input type="text" class="form-control" name="mallType" value="A+">
                              </div>
                               <br>

                            <div class="input-group">
                                  <span class="input-group-addon">开业时间</span>
                                <input type="text" class="form-control openningdate" name="openningdate" readonly placeholder="请输入店铺开业时间,格式为2016-01-01">

                              </div>
                               <br>

                               <div class="input-group">
                                   <span  class="input-group-addon">合同开始时间</span>
                                  <input type="text" class="form-control contractBeginDate"  readonly name="contractBeginDate" placeholder="请输入店铺合同开始时间,格式为2016-01-01">
                               </div><br>
                               <div class="input-group">
                                   <span class="input-group-addon" >合同截至时间</span>
                                   <input type="text" class="form-control contractEndDate" readonly name="contractEndDate" placeholder="请输入店铺合同结束时间,格式为2016-01-01">
                               </div>

                          </form>
                       </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                     <button type="submit" class="btn btn-primary" id="save_button" onclick="add_info()" >提交 </button>
                 </div>

             </div>
          </div>
        </div>


        </div>
        <!--档案录入结束-->

         <!--档案查询开始-->
         <div class="col-xs-4">
         <p class="text-center h2">
             档案查询
         </p>
         <button class="btn btn-info"  data-toggle="modal" data-target="#staff-info" ><span class="glyphicon glyphicon-user"></span>人员档案</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!--显示人员档案弹窗 -->
            <div class="modal" id="staff-info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: auto">
                    <!--人员档案弹窗主体 -->
                    <div class="modal-content">
                        <!--人员档案弹窗头部 -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                 <span aria-hidden="true">×</span>
                                 <span class="sr-only">Close</span>
                             </button>
                            <h2 class="text-center">人员信息档案</h2>
                        </div>
                        <!--人员档案弹窗头部 -->

                        <!--人员档案弹窗正文 -->
                        <div class="modal-body">
                            <table class="table  table-striped table-condensed table-responsive ">
                                <tr class="text-center h3">
                                    <td > <span class="glyphicon glyphicon-user"></span> 姓名</td>
                                    <td>职务</td>
                                    <td ><span class="glyphicon glyphicon-phone"></span> 手机</td>
                                    <td>公司手机</td>
                                    <td>QQ</td>
                                    <td>电子邮箱</td>
                                    <td>联系地址</td>
                                </tr>
                                 {% for m in man_list %}
                                <tr class="text-center">
                                        <td>{{ m.name }}</td>
                                        <td>{{ m.title }}</td>
                                        <td>{{ m.personal_cellphone }}</td>
                                        {% if m.company_cellphone %}
                                            <td>{{ m.company_cellphone }}</td>
                                         {% else %}
                                            <td class="danger">未配备</td>
                                        {% endif %}
                                        {% if m.qq %}
                                            <td>{{ m.qq }}</td>
                                        {% else %}
                                            <td class="glyphicon">未提供</td>
                                        {% endif %}
                                        <td>{{ m.email }}</td>
                                        <td>{{ m.address }}</td>

                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!--人员档案弹窗正文 -->

                        <!--人员档案弹窗底部 -->
                        <div class="modal-footer">

                        </div>
                        <!--人员档案弹窗底部 -->
                    </div>
                </div>
                <!--人员档案弹窗主体 -->
            </div>
          <!--显示人员档案弹窗 -->

         <button class="btn btn-info" data-toggle="modal" data-target="#area-info">店铺档案</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <!--显示店铺档案弹窗 -->
            <div class="modal" id="area-info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
                <div class="modal-dialog" style="width: 1024px;" >
                    <!--店铺档案弹窗主体 -->
                    <div class="modal-content">
                        <!--店铺档案弹窗头部 -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                 <span aria-hidden="true">×</span>
                                 <span class="sr-only">Close</span>
                             </button>
                            <h2 class="text-center">店铺档案</h2>
                        </div>
                        <!--店铺档案弹窗头部 -->
                          <script>
                            $(document).ready(function(){
                                $(".changecolor tr :even").addClass("success");//奇数行
                                $(".changecolor tr :odd").addClass("info");//偶数行
                            }
                            );
                        </script>
                        <!--店铺档案弹窗正文 -->
                        <div class="modal-body">
                            <table class="table  table-striped table-condensed table-responsive changecolor " >
                        {% for shop in shop_list %}
                                 {% if forloop.revcounter0|divisibleby:'2' %}
                                 <tr>
                                  <td width="50%">
                                    <div class="card">

                                        <div class="card-block">
                                            {% ifequal shop.get_shopType_display "直营"  %}
                                            <button class="btn btn-success card-title" id="">{{ shop.sysName }}</button>
                                            {% else %}
                                             <button class="btn btn-danger card-title">{{ shop.sysName }}</button>
                                            {% endifequal %}
                                            <p class="card-text">地址：{{ shop.shopAddress }}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" id="{{ shop.Id }}{{ shop.managerId }}">销售经理：{{ shop.managerId.name}}</li>
                                            <li class="list-group-item">店铺类型：{{ shop.get_shopType_display }}</li>
                                            <li class="list-group-item">开业时间：{{ shop.openingDate |date:"Y-m-d" }}</li>
                                            <li class="list-group-item">合同开始时间：{{ shop.contractBeginDate | date:"Y-m-d" }}</li>
                                            <li class="list-group-item">合同结束时间：{{ shop.contractBeginDate | date:"Y-m-d"}}</li>
                                        </ul>
                                        <div class="card-footer text-center">
                                          <button class="btn btn-info"
                                                  onclick="editshopinfo('{{ shop.areaId.name }}',
                                                                        '{{ shop.sysName }}',
                                                                        '{{ shop.sName }}',
                                                                        '{{ shop.managerId.name }}',
                                                                        '{{ shop.shopAddress }}',
                                                                        '{{ shop.get_state_display }}',
                                                                        '{{ shop.get_shopType_display }}',
                                                                        '{{ shop.contractBeginDate }}',
                                                                        '{{ shop.openingDate }}',
                                                                        '{{ shop.contractEndDate }}',
                                                                        '{{ shop.shop_brand }}')">
                                              信息修改
                                          </button>
                                      </div>
                                    </div>
                                  </td>
                                 {% else %}
                                   <td style="width:50%;">
                                    <div class="card">
                                        <div class="card-block">
                                            {% ifequal shop.get_shopType_display "直营"  %}
                                            <button class="btn btn-success card-title">{{ shop.sysName }}</button>
                                            {% else %}
                                             <button class="btn btn-danger card-title">{{ shop.sysName }}</button>
                                            {% endifequal %}
                                            <p class="card-text">地址：{{ shop.shopAddress }}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">销售经理：{{ shop.managerId.name}}</li>
                                            <li class="list-group-item">店铺类型：{{ shop.get_shopType_display }}</li>
                                            <li class="list-group-item">开业时间：{{ shop.openingDate |date:"Y-m-d" }}</li>
                                            <li class="list-group-item">合同开始时间：{{ shop.contractBeginDate | date:"Y-m-d" }}</li>
                                            <li class="list-group-item">合同结束时间：{{ shop.contractBeginDate | date:"Y-m-d"}}</li>
                                        </ul>
                                      <div class="card-footer text-center">
                                          <button class="btn btn-info" onclick="editshopinfo('{{ shop.areaId.name }}',
                                                                                             '{{ shop.sysName }}',
                                                                                             '{{ shop.sName }}',
                                                                                             '{{ shop.managerId.name }}',
                                                                                             '{{ shop.shopAddress }}',
                                                                                             '{{ shop.get_state_display }}',
                                                                                             '{{ shop.get_shopType_display }}',
                                                                                             '{{ shop.contractBeginDate }}',
                                                                                             '{{ shop.openingDate }}',
                                                                                             '{{ shop.contractEndDate }}',
                                                                                             '{{ shop.shop_brand }}')">
                                              信息修改
                                          </button>
                                      </div>
                                    </div>
                                   </td>
                                 </tr>
                                 {% endif %}

                              {% endfor %}
                            </table>
                        </div>
                        <!--店铺档案弹窗正文 -->

                        <!--店铺档案弹窗底部 -->
                        <div class="modal-footer">

                        </div>
                        <!--店铺档案弹窗底部 -->
                    </div>
                </div>
                <!--店铺档案弹窗主体 -->
            </div>
          <!--显示店铺档案弹窗 -->
        <!--修改店铺档案弹窗 -->
         <script>
             function editshopinfo() {
                  area=arguments[0];
                  sysName=arguments[1];
                  sName=arguments[2];
                  manager=arguments[3];
                  shopaddress=arguments[4];
                  shopstate=arguments[5];
                  shoptype=arguments[6];
                  contractBeginDate=arguments[7]
                  openingdate=arguments[8];
                  contractEndDate=arguments[9];
                  brand=arguments[10];
                  modalhtml='<div class="modal  " id="mymodal-data" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"> <div class="modal-dialog"><div class="modal-content"> <div class="modal-header"><button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">×</span><span class="sr-only">Close</span></button> <h4 class="modal-title text-center">请输入以下信息</h4> </div><div class="modal-body "> <div class="container"><form class="form-group col-md-5" method="get"  id="form_data">'+
                               '<div class="input-group"><span class="input-group-addon">系统名称</span> <input type="text" class="form-control" name="sys_name"></div><br>'+
                               '<div class="input-group"><span class="input-group-addon">店铺名称</span><input type="text" class="form-control" name="s_name"> </div><br>'+
                               '<div class="input-group"> <span class="input-group-addon">所属大区</span> <select class="form-control" name="area"> <option value="" selected>------</option>{% for area in area_list %}<option name="{{ area.id }}" value="{{ area.id }}">{{ area.name }}</option> {% endfor %} </select></div><br>'+
                               '<div class="input-group"><span class="input-group-addon">销售经理</span> <select class="form-control" name="salemanager"><option value="" selected>------</option> {% for man in man_list %} <option id="{{ man.id }}" value="{{ man.id }}">{{ man.name }}</option>{% endfor %} </select> </div><br>'+
                               '<div class="input-group"><span class="input-group-addon">经营状态</span><select class="form-control selected" name="shopState"><option value="" selected>------</option><option value="S">正常营业</option><option VALUE="Z">装修</option><option value="C">撤店</option><option value="P">暂停整改</option></select> </div> <br>'+
                               '<div class="input-group"><span class="input-group-addon">经营方式</span><select class="form-control" name="shoptye"><option value="" selected>------</option><option value="D">直营</option> <option VALUE="A">代理</option><option value="J">加盟</option><option value="C">承包</option></select></div><br>'+
                               '<div class="input-group"><span class="input-group-addon">店铺地址</span><input type="text" class="form-control" name="shopAddress"> </div><br>'+
                               '<div class="input-group"><span class="input-group-addon">卖场类型</span> <input type="text" class="form-control" name="mallType" value="A+"> </div><br>'+
                               '<div class="input-group"><span class="input-group-addon">开业时间</span><input type="text" class="form-control openningdate" name="openningdate" readonly placeholder="请输入店铺开业时间,格式为2016-01-01"></div><br>'+
                              '<div class="input-group"><span  class="input-group-addon">合同开始时间</span> <input type="text" class="form-control contractBeginDate"  readonly name="contractBeginDate" placeholder="请输入店铺合同开始时间,格式为2016-01-01"> </div><br>'+
                             '<div class="input-group"> <span class="input-group-addon" >合同截至时间</span><input type="text" class="form-control contractEndDate" readonly name="contractEndDate" placeholder="请输入店铺合同结束时间,格式为2016-01-01"></div></form></div></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button><button type="submit" class="btn btn-primary" id="save_button" onclick="add_info()" >提交 </button></div></div></div></div>'

             };



        </script>
       <!--修改店铺档案弹窗 -->
         <button class="btn btn-info" data-toggle="modal" data-target="#shop-info">区域档案</button>
         <!--显示店铺档案弹窗 -->
            <div class="modal" id="shop-info" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <!--店铺档案弹窗主体 -->
                    <div class="modal-content">
                        <!--店铺档案弹窗头部 -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                 <span aria-hidden="true">×</span>
                                 <span class="sr-only">Close</span>
                             </button>
                            <h2 class="text-center">店铺信息档案</h2>
                        </div>
                        <!--店铺档案弹窗头部 -->

                        <!--店铺档案弹窗正文 -->
                        <div class="modal-body">

                        </div>
                        <!--店铺档案弹窗正文 -->

                        <!--店铺档案弹窗底部 -->
                        <div class="modal-footer">

                        </div>
                        <!--店铺档案弹窗底部 -->
                    </div>
                </div>
                <!--店铺档案弹窗主体 -->
            </div>
          <!--显示店铺档案弹窗 -->

     </div>
         <!--档案查询结束-->

    </div>
</div>
<!--鼠标划过销售经理名字后显示信息-->
<script>
   $(function(){
        $("[rel=drevil]").popover({
            trigger:'manual',
            placement : 'bottom', //placement of the popover. also can use top, bottom, left or right
            title : '<div style="text-align:center; color:red; text-decoration:underline; font-size:14px;"> '+ $(this).parent().prev().text()+'</div>', //this is the top title bar of the popover. add some basic css
            html: 'true', //needed to show html of course
            content : '<div id="popOverBox"><img src="http://www.hd-report.com/wp-content/uploads/2008/08/mr-evil.jpg" width="251" height="201" /></div>', //this is the content of the html box. add the image here or anything you want really.
            animation: false
        }).on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(this).siblings(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                   <!--设置鼠标离开后弹窗可保持的时间 单位毫秒-->
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide")
                        }
                    }, 1000);
                });
	});
    </script>
<!--鼠标划过销售经理名字后显示信息-->
{% endblock %}